<!DOCTYPE html>
<html>
<head>
  <title>Tencompliments</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render 'layouts/header' %>
<div class="container">
	<% flash.each do |name, msg| %>
	     <%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
	<%= yield %>
</div>

      <div id="wrap">
      <div id="main" class="container clear-top">
      <div class="row">
      <div class="span12">
      
      </div>
      </div>
      </div>
      </div>
      <footer class="footer" style="background-color:#c2c2c2">
        <div class="container">
          Lovingly Crafted in Berlin By Jesicka Labud.
        </div>
      </footer>

</body>
</html>
